<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
  	</div>

    <div class="footer d-flex flex-column justify-content-center align-items-center">
      <div>&copy; Kate Wei 2017</div>
      <div>
        <a href="https://www.instagram.com/applecider_kate/">
          <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/jw2506/">
          <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/kate.wei.37">
          <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
